*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: linear-gradient(to left,#7292A6, #224459 );
    font-family: 'Roboto Mono', monospace;
    color: white;
    padding: 1rem;
}
header p{
    padding-top: 0.5rem;
}

footer{
   background-color:  #224459 ;
   padding: 5rem;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   color: white;
}

main{
    max-width: 100vw;
    display: grid;
    grid-template-areas: 
    "a b c c d"
    "a j h f g"
    "a e h i i";
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 15em 15em 15em;
}

section{
    background-color: #dddddd;
}

section.imagem1{
    background-image: url(palestrantes/amanda.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: none;
    filter: grayscale();
    padding: 6rem;
}
section.imagem2{
    background-image: url(palestrantes/ellen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: none;
    filter: grayscale();
    padding: 6rem;
}
section.imagem3{
    background-image: url(palestrantes/georgia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: none;
    filter: grayscale();
    padding: 6rem;
}
section.imagem4{
    background-image: url(palestrantes/henrique.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: none;
    filter: grayscale();
    padding: 6rem;
}
table, td{
    border: 1px solid rgb(96, 94, 94);
}
.menu li{
    padding-top: 2.6rem;
    font-size: 2rem;
    color: #355162;
    list-style-type: none;
}
.listadeeventos li{
    padding-top: 0.5rem;
}
.lermais p{
    padding-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.inscricao input{
    border: 1px solid black;
    border-radius: 0%;
    padding: 0.5rem;
}
.inscricao form{
    margin-top: 1rem;
}
.inscricao{
    font-family: Arial, Helvetica, sans-serif;
}
section.menu{
    grid-area: a;
    padding: 3rem;
    font-family: 'Roboto Mono', monospace;
}
section.lermais{
    grid-area: b;
    padding: 3rem;
}
section.programacao{
    grid-area: c;
    padding: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}
section.imagem1{
    grid-area: d;
}
section.imagem2{
    grid-area: e;
}
section.imagem3{
    grid-area: f;
}
section.imagem4{
    grid-area: g;
}
section.inscricao{
    grid-area: h;
    padding: 3rem;
}
section.organizacao{
    grid-area: i;
    padding: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
}
section.listadeeventos{
    grid-area: j;
    padding: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}